@{
    ViewData["Title"] = "Admin";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KurudhiPortal</title>
    <link rel="icon" type="image/x-icon" href="~/images/NTK_KURUDHI_Logo.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/bootstrap.min.css"/>*@
    <link rel="stylesheet" href="~/css/admin.css"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/admin.js"></script>
</head>
<body>
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Manage Users</button>
    <button class="nav-link" id="nav-manage-roll-tab" data-bs-toggle="tab" data-bs-target="#nav-manage-roll" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Manage Roll</button>
    <button class="nav-link" id="nav-manage-permission-tab" data-bs-toggle="tab" data-bs-target="#nav-manage-permission" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Manage Permission</button>
    <button class="nav-link" id="nav-add-user-tab" data-bs-toggle="tab" data-bs-target="#nav-new-user" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Add Users</button>
    <button class="nav-link" id="nav-add-admin-tab" data-bs-toggle="tab" data-bs-target="#nav-add-admin" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Add Admins</button>
    @*<button class="nav-link" id="nav-search-user-tab" data-bs-toggle="tab" data-bs-target="#nav-search" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Search Users</button>*@
    
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <section>
        <div class="container-fluid">
        <form id="user-filter-form">
            <div class="form-group row filter-row">
                    <div class="col-12 col-md-3 col-sm-12 col-lg-2 col-xl-2">
                          <div class="form-floating">
                              <select class="form-select" name="country" id="country" aria-label="Floating label select example" tabindex="1">
                                  <option value="">Select Country</option>
                                  <option value="india">India</option>
                                  <option value="usa">Usa</option>

                              </select>
                              <label for="state">Select Country</label>
                          </div>
                    </div>    
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 col-xl-2">
                          <div class="form-floating">
                              <select class="form-select" name="state" id="state" aria-label="Floating label select example" tabindex="2">
                                    <option value="">Select State</option>
                              </select>
                              <label for="district">Select State</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 col-xl-2">
                          <div class="form-floating">
                              <select class="form-select" name="district" id="district" aria-label="Floating label select example" tabindex="3">
                                  <option value="">Select District</option>
                              </select>
                              <label for="state">Select District</label>
                          </div>
                    </div>    
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 col-xl-2">
                          <div class="form-floating">
                              <select class="form-select" name="location" id="location" aria-label="Floating label select example" tabindex="4">
                                    <option value="">Select Location</option>
                              </select>
                              <label for="district">Select Location</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 col-xl-2">
                          <div class="form-floating">
                              <select class="form-select" name="bloodgroup" id="bloodgroup" aria-label="Floating label select example" tabindex="4">
                                    <option value="">Select BloodGroup</option>
                              </select>
                              <label for="district">Select BloodGroup</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12 col-lg-2 col-xl-2 ">
                        <div class="filter-btn">
                            <button type="submit" class="btn search-btn" tabindex="5">Search</button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
    </section>
  </div>
  <div class="tab-pane fade" id="nav-manage-roll" role="tabpanel" aria-labelledby="nav-manage-roll-tab">
      manage rolls
  </div>
  <div class="tab-pane fade" id="nav-manage-permission" role="tabpanel" aria-labelledby="nav-manage-permission-tab">
      manage permission
  </div>
  <div class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-add-user-tab">
      <div class="import-user-box">
          <button class="btn">Import User</button>
      </div>
      <h2>New User</h2>
            <form id="signup-form">
                <div class="form-group row task">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="username" name="username" placeholder="user name" tabindex="1">
                      <label for="username">User Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="password" tabindex="2">
                      <label for="password">Password</label>
                    </div>
                </div>                  
            </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="first name" tabindex="3">
                      <label for="firstname">First Name</label>
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="last name" tabindex="4">
                      <label for="lastname">Last Name</label>
                    </div>
                    </div>
                </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="gender" id="gender" aria-label="Floating label select example" tabindex="5">
                                    <option value="">Gender</option>
                              </select>
                              <label for="gender">Select Gender</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12" >
                        <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="age" name="age" placeholder="age" tabindex="6">
                      <label for="age">Age</label>
                    </div>
                    </div>
                       
                </div> 
                <div class="form-group row task">
                     <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="bloodgroup" id="bloodgroup" aria-label="Floating label select example" tabindex="7">
                                    <option value="">Blood Group</option>
                              </select>
                              <label for="bloodgroup">Select Blood Group</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="email" tabindex="8">
                      <label for="email">Email</label>
                    </div>
                    </div>     
                </div>        
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="mobilenumber" name="mobilenumber" placeholder="mobile number" tabindex="9">
                      <label for="mobilenumber">Mobile Number</label>
                    </div>
                    </div> 
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                              <select class="form-select" name="country" id="country" aria-label="Floating label select example" tabindex="10">
                                  <option value="">Select Country</option>
                              </select>
                              <label for="country">Select Country</label>
                            </div>
                    </div>
                                  
                </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="state" id="state" aria-label="Floating label select example" tabindex="11">
                                  <option value="">Select State</option>
                              </select>
                              <label for="state">Select State</label>
                          </div>
                    </div>    
                    <div class="col-12 col-md-6 col-sm-12 div-container">
                          <div class="form-floating">
                              <select class="form-select" name="district" id="district" aria-label="Floating label select example" tabindex="12">
                                    <option value="">Select District</option>
                              </select>
                              <label for="district">Select District</label>
                            </div>
                    </div>                    
                </div>
                <div class="create-user">
                    <button type="submit" class="btn signup-btn" tabindex="13">Create New User</button>
                </div>
            </form>
  </div>
  <div class="tab-pane fade" id="nav-add-admin" role="tabpanel" aria-labelledby="nav-add-admin-tab">
      add admins
  </div>
  @*<div class="tab-pane fade" id="nav-search" role="tabpanel" aria-labelledby="nav-contact-tab">
      Search Users
  </div>*@
</div>
</body>