
@{
    ViewData["Title"] = "FeedBack";
}
<head>
    <title>@ViewData["Title"] - KurudhiPortal</title>
    <link rel="stylesheet" href="~/css/feedback.css"/>
    <script src="~/js/feedback.js"></script>
</head>
<body>
    <section class="feedback-section">
        <div class="container-fluid">
            <div class="row feedback-row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div class="feedback-container">
                        <h2 class="mb-3">FeedBack</h2>
                        <form id="feedback-form">
                            <div class="radio-container mb-4">
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="Commands" id="commands" value="commands" tabindex="1">
                                  <label class="form-check-label" for="commands">Commands</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="Commands" id="suggestions" value="suggestions" tabindex="2">
                                  <label class="form-check-label" for="suggestions">Suggestions</label>
                                </div>
                                <div class="form-check form-check-inline">
                                  <input class="form-check-input" type="radio" name="Commands" id="questions" value="questions" tabindex="3">
                                  <label class="form-check-label" for="questions">Questions</label>
                                </div>
                                <label  class="command-label">Select Commands Type</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="form-floating mb-3">
                                      <input type="text" class="form-control" id="username" name="username" placeholder="username" tabindex="4">
                                      <label for="username">User Name</label>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-6">
                                    <div class="form-floating">
                                      <input type="email" class="form-control" id="email" name="email" placeholder="email" tabindex="5">
                                      <label for="email">Email</label>
                                    </div>
                                </div>                  
                            </div>
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="message" id="message" name="message" style="height: 100px" tabindex="6"></textarea>
                                <label for="message">Message</label>
                            </div>
                            <div class="feedback-btn-container">
                                <button type="submit" class="btn" tabindex="7">Submit FeedBack</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
