
@{
    ViewData["Title"] = "Logout";
}
<head>
    <title>@ViewData["Title"] - KurudhiPortal</title>
    <link rel="stylesheet" href="~/css/logout.css"/>
    <script src="~/jslogout.js/"></script>
</head>
<body>
</body>