
@{
    ViewData["Title"] = "SignUp";
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KurudhiPortal</title>
    <link rel="icon" type="image/x-icon" href="~/images/NTK_KURUDHI_Logo.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/signup.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/signup.js"></script>
    <script src="~/js/jquery.validate.js"></script>
</head>
<body>
    <section class="header-section">
        <div class="header">
            <div class="sign-up-logo">
                <img src="~/images/runner.jpg" width="120" height="120"/>
            </div>
            <h2>SignUp</h2>
            <form id="signup-form">
                <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="username" name="username" placeholder="username">
                      <label for="username">UserName</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="username">
                      <label for="Password">Password</label>
                    </div>
                </div>                  
            </div>
               @* <div class="form-group row">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="username" name="username" placeholder="username">
                      <label for="username">UserName</label>
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="password" class="form-control" id="Password" name="Password" placeholder="username">
                      <label for="Password">Password</label>
                    </div>
                    </div>                   
                </div> *@
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="firstname" name="firstname" placeholder="username">
                      <label for="firstname">FirstName</label>
                    </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="lastname" name="lastname" placeholder="username">
                      <label for="lastname">LastName</label>
                    </div>
                    </div>
                </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="gender" id="gender" aria-label="Floating label select example">
                                    <option value="">Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Ohers">Ohers</option>
                              </select>
                              <label for="gender">Select Gender</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12" >
                        <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="age" name="age" placeholder="username">
                      <label for="age">Age</label>
                    </div>
                    </div>
                       
                </div> 
                <div class="form-group row task">
                     <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="bloodgroup" id="bloodgroup" aria-label="Floating label select example">
                                    <option value="">Blood Group</option>
                                    <option value="A+">A+</option>
                                    <option value="A-">A-</option>
                                    <option value="b+">b+</option>
                                    <option value="b-">b-</option>
                                    <option value="AB+">AB+</option>
                                    <option value="AB-">AB-</option>
                                    <option value="O+">O+</option>
                                    <option value="O-">O-</option>
                              </select>
                              <label for="bloodgroup">Select BloodGroup</label>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="email" class="form-control" id="email" name="email" placeholder="username">
                      <label for="email">Email</label>
                    </div>
                    </div>     
                </div>        
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="mobilenumber" name="mobilenumber" placeholder="username">
                      <label for="mobilenumber">MobileNumber</label>
                    </div>
                    </div> 
                    <div class="col-12 col-md-6 col-sm-12">
                        <div class="form-floating mb-3">
                              <select class="form-select" name="country" id="country" aria-label="Floating label select example">
                                  <option value="">Country</option>
                                  <option value="India">India</option>
                              </select>
                              <label for="country">Country</label>
                            </div>
                    </div>
                                  
                </div>
                <div class="form-group row task">
                    <div class="col-12 col-md-6 col-sm-12">
                          <div class="form-floating mb-3">
                              <select class="form-select" name="state" id="state" aria-label="Floating label select example">
                                  <option value="">Select State</option>
                                <option value="TamilNadu">Tamil Nadu</option>
                                <option value="Kerla">Kerla</option>
                                <option value="Delhi">Delhi</option>
                                <option value="AndraPradesh">Andra Pradesh</option>
                              </select>
                              <label for="state">Select State</label>
                          </div>
                    </div>    
                    <div class="col-12 col-md-6 col-sm-12 div-container">
                          <div class="form-floating">
                              <select class="form-select" name="district" id="district" aria-label="Floating label select example">
                                    <option value="">District</option>
                                    <option value="Ariyalur">Ariyalur</option>
                                    <option value="Chengalpattu">Chengalpattu</option>
                                    <option value="Chennai">Chennai</option>
                                    <option value="Coimbatore">Coimbatore</option>
                                    <option value="Cuddalore">Cuddalore</option>
                                    <option value="Dharmapuri">Dharmapuri</option>
                                    <option value="Dindigul">Dindigul</option>
                                    <option value="Erode">Erode</option>
                                    <option value="Kallakurichi">Kallakurichi</option>
                                    <option value="Kancheepuram">Kancheepuram</option>
                                    <option value="Karur">Karur</option>
                                    <option value="Krishnagiri">Krishnagiri</option>
                                    <option value="Madurai">Madurai</option>
                              </select>
                              <label for="district">Select District</label>
                            </div>
                    </div>                    
                </div>
              
                <div class="sign-up">
                    <button type="submit" class="btn signup-btn" tabindex="13">Sign Up</button>
                </div>
            </form>
        </div>
        </section>
</body>

