<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KurudhiPortal</title>
    <link rel="icon" type="image/x-icon" href="~/images/NTK_KURUDHI_Logo.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.min.new.css"/>
    @*<link rel="stylesheet" href="~/KurudhiPortal.styles.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Dashboard" asp-action="Index">
                    <img src="~/images/NTK_KURUDHI_Logo.jpg" width="50" height="50"/>
                    <span id="brand">KURUDHI</span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between menu-list">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Dashboard" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Request" asp-action="Index">Request</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Donate" asp-action="Index">Donate</a>
                        </li>
                    </ul>
                    @*<partial name="_LoginPartial" />*@
                </div>
                <div>
                    <div class="setting-icon">
                        <i class="bi bi-gear-fill"></i>
                    </div>
                </div>
            </div>
        </nav>
    </header>
        <div class="plus-icon">
            <i class="bi bi-plus"></i>
        </div>
    <section class="overall-layout">
            <section class="side-nav-section">
                <div class="side-nav">
                    <div class="image-container">
                        <div class="logo-container">
                            <img src="~/images/logo-round.png" alt="" width="100%" height="100%">
                        </div>
                        <div class="cancel-icon-container">
                            <i class="bi bi-arrow-left"></i>
                        </div>
                        <div class="push-arrow">
                           
                        </div>
                    </div>
                   @* <div class="menu-list-container">
                        <i class="bi bi-file-arrow-down menu-icons" title="Welcome"></i> <a href="#" class="nav-list">Welcome</a>
                    </div>*@
                    <div class="push-arrow">
                         <i class="bi bi-arrow-right"></i>
                    </div>
                    <div class="menu-list-container" data-bs-toggle="tooltip" data-bs-placement="top" title="My Dashboard">
                        <i class="bi bi-grid-3x3-gap-fill menu-icons" title="My Dashboard"></i> <a href="https://localhost:7002/DashBoard/MyDashBoard" class="nav-list">My Dashboard</a>
                    </div>
                    <div class="menu-list-container" data-bs-toggle="tooltip" data-bs-placement="top" title="My Profile">
                        <i class="bi bi-file-person menu-icons" title="My Profile"></i> <a href="https://localhost:7002/User/MyProfile" class="nav-list">My Profile</a>
                    </div>
                    <div class="menu-list-container" data-bs-toggle="tooltip" data-bs-placement="top" title="Donation History">
                        <i class="bi bi-heart-pulse-fill menu-icons" title="Donation History"></i> <a href="https://localhost:7002/Donate/DonationHistory" class="nav-list">Donation History</a>
                    </div>
                    <div class="menu-list-container admin-users" data-bs-toggle="tooltip" data-bs-placement="top" title="Search Donors">
                        <i class="bi bi-people-fill menu-icons" title="Search Donors"></i> <a href="https://localhost:7002/User/SearchDonors" class="nav-list">Search Donors</a>
                    </div>
    
                    <div class="menu-list-container" data-bs-toggle="tooltip" data-bs-placement="top" title="About Us">
                        <i class="bi bi-file-person menu-icons" title="About Us"></i> <a href="https://localhost:7002/Login/AboutUs" class="nav-list">About Us</a>
                    </div>
                    <div class="menu-list-container" data-bs-toggle="tooltip" data-bs-placement="top" title="Feedback">
                        <i class="bi bi-pencil-square menu-icons" title="Feedback"></i> <a href="https://localhost:7002/Login/FeedBack" class="nav-list">Feedback</a>
                    </div>
                    <div class="menu-list-container"  data-bs-toggle="tooltip" data-bs-placement="top" title="Logout">
                        <i class="bi bi-arrow-left-square menu-icons"></i> <a href="https://localhost:7002/User/Logout" class="nav-list">Logout</a>
                    </div>
                </div>
            </section>
            <section class="main-page-container">
                <main role="main">
                    @RenderBody()
                </main>
            </section>
        </section>
    <footer class="">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/jquery.validate.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
