
@{
    ViewData["Title"] = "Testing";
}
<head>
     <style>
         .input-group {
	position: relative;
}
.input-group .floating-label-1 {
	position: absolute;
	pointer-events: none;
	top: 18px;
	left: 10px;
	transition: 0.2s ease all;
}
.input-group input:focus ~ .floating-label-1,
.input-group input:not(:focus):valid ~ .floating-label-1{
	top: 0px;
	left: 10px;
	font-size: 13px;
	opacity: 1;
}
</style>

</head>
<body>
    <div class="input-group">
  <input type="password" required>
  <label class="floating-label-1">Password</label>
</div>
</body>

