

@{
    ViewData["Title"] = "Donate";
}
<head>
    <title>@ViewData["Title"] - KurudhiPortal</title>
    <link rel="stylesheet" href="~/css/bloodrequest.css"/>
    <script src="~/js/donate.js"></script>
</head>
<body>
        <section class="request-container">
            <div class="near-me bottom-line">
                Blood Request(Near Me)
            </div>
            <div class="all-over">
                All Over
            </div>
        </section>
        <section class="near-request">
            <div>near-request</div>
        </section>
        <section class="all-over-request">
            <div>all-over-request</div>
        </section>
</body>



