.about-us-container p{
    line-height:2;
}

.icon-container{
    display:flex;
    justify-content:center;
}
.about-us-container h2,h4{
    text-align:center;
    margin-bottom:30px;
}
.about-us-container h2{
    color:#CD0E16;
}
