
.heading-blood-request{
    color:#CD0E16;
    margin-bottom:50px;
}

.form-header{
    display:flex !important;
}
.heading-text{
    margin:0 25% !important;
}
.back-btn {
    padding: 10px 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    color: white;
    font-weight: 500;
    margin-left:30px;
}
.back-btn:focus{
    box-shadow:none;
}
.back-btn:hover{
    color:white;
}
.request-btn{
    display:flex;
    justify-content:center;
    padding:10px 40px;
    border-radius:25px;
    color:white;
    font-weight:500;
}
.request-btn:hover{
    color:white;
}

.request-input-container{
    margin-bottom:10px;
}
.back-navigation{
    color:white;
    font-size:16px;
}
.radio-group {
    display: flex;
    justify-content: space-around;
    position: relative;
    border: 1px solid #CED4DA;
}
#bloodrequirment-error{
    position:absolute;
    bottom:0;
}
.radio-container {
    border: 1px solid #cccccc;
    border-radius: 0.25rem;
    padding: 14px 10px;
    display:flex;
    justify-content:space-around;
    position:relative;
}
#bloodtype-error{
    position:absolute !important;
    bottom:-25px !important;
    left:0;
}
.radio-label{
    position:absolute;
    display:block;
    top:-14px;
    left:20px;
    background-color:white;
}
.plus-icon {
    display: none !important;
}
.border-line{
    border:1px solid red;
}
@media only screen and (max-width:768px) {
    request-input-container {
        margin-bottom:0;
    }
}
