.header{
  max-width:1200px;
  margin:0 auto;
  padding:30px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.header-section {
  padding-top:40px;
}
.sign-up{
    display:flex;
    justify-content:center;
}
.signup-btn{
    font-weight:500;
    color:white;
    padding: 10px 60px;
    border-radius: 25px;
}
.signup-btn:hover{
    color:white;
}
.header h2{
    text-align:center;
    margin-bottom:30px;
    color:#CD0E16;
}
.form-group{
    margin-bottom:20px !important;
}
.border-line{
    border:1px solid red;
}
/* {
    transform: translate(0, -2.75rem) !important;
}*/
.sign-up-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
