.header{
  max-width:1200px;
  margin:0 auto;
  padding:30px 30px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.log-in-container{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding:50px 80px;
}
.inner-container{
  display: flex;
}
.row-align{
  display: flex;
  justify-content: center;
}
.header-section {
  padding-top:40px;
}
.age-container{
  position:relative;
}
.input-filed:focus ~.age-position{
 top:-12px;
}
.input-filed:focus {
    box-shadow: none;
}
.age-position {
  background-color: white;
  position: absolute;
  top: 5px;
  transition: .5s ease;
  left: 12px !important;
  color: #737373;
}
#floatingInput{
  height:40px;
  padding:5px !important;
  color:#737373;
}
.logo-image{
  display:flex;
  justify-content:center;
}
.sign-up-btn {
  /*background-color:red !important;*/
  padding: 10px 100px;
  border-radius: 25px;
  color: white;
  font-weight: 500;
  display: block !important;
}
.sign-up-btn:hover{
  color:white;
}
.sign-up-box{
  display:flex;
  justify-content:center;
  margin-top:30px;
}
.form-select{
  color:#737373;
  margin-bottom:20px;
}
.login-header-container{
  display:flex;
  justify-content:center;
}
.login-text{
  text-align:center;
  color:#CD0E16;
  margin:30px 0;
  font-weight:bold;
}
.sign-up, .forgot-password {
  text-align: center;
  color: #CD0E16;
}
.sign-up a, .forgot-password a{
  text-decoration:none;
  color:#CD0E16;
}
.sign-up a:hover, .forgot-password a:hover{
  color:#CD0E16;
}
.sign-up{
  margin:25px 0;
}
.second-container,.first-container{
  width: 50%;
}
.first-container{
  margin-right: 30px;
}
.error{
    color:red;
}
.sign-up{
    display:flex;
    justify-content:center;
}
.signup-btn{
    font-weight:500;
    color:white;
}
.signup-btn:hover{
    color:white;
}
.header h2{
    text-align:center;
    margin-bottom:30px;
    color:#CD0E16;
}
.form-group{
    margin-bottom:20px !important;
}
@media only screen and (max-width:768px) {
    .second-container,.first-container{
    width: 100%;
  }
  .inner-container{
    display: block;
  }
  .form-group div{
      margin-bottom:25px;
  }
  .form-group{
    margin-bottom:0px !important;
}
  .form-select {
    color: #737373;
    margin-bottom: 0px !important;
}
}