
.btn {
    background-color: #CD0E16 !important;
}
.plus-icon{
  background-color:#CD0E16;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  position: fixed;
  bottom: 50px;
  right: 30px;
}
.blood-request-menu{
    margin-left:50px;
}
#brand {
    font-weight: 700 !important;
    position: relative !important;
    top: 3px !important;
    color: #CD0E16 !important;
}

/* side navbar start */
.side-nav-section {
    width: 250px;
    border:1px solid red;
    padding-bottom: 30px;
    z-index: 99;
    transition: width .3s ease;
    height:650px !important;
    background-color:white;
    /* border-top-right-radius:20px;
    border-bottom-right-radius:20px; */
}
.logo-container{
  height: 150px;
  max-width: 250px;
  min-width:50px;
  display: flex;
  justify-content: center;
}
.image-container{
  background-color:#CD0E15;
  padding: 10px 0;
  position: relative;
}
.menu-list-container a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: .3s ease;
}
.menu-list-container a:hover{
  color: red;
}
.menu-list-container {
    padding:10px 0;
    padding-left:20px;
    margin-left:0px;
   /* border-bottom:2px solid red;*/
}
.menu-icons{
  margin-right: 20px;
  font-size: 18px;
}
.cancel-icon-container,.push-arrow{
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 10px;
  color: white;
  transition:.3s ease;
}
.push-arrow{
  display: none;
  position:relative !important;
  color:black;
  padding: 10px 0px 10px 32px;
}
.cancel-icon-container:hover{
    right:14px;
}
.nav-list{
    display:inline-block;
}
.toggle-menu{
    display:none;
}
.admin-users{
    border-top:2px solid #a6a6a6;
    border-bottom:2px solid #a6a6a6;
}
.overall-layout{
  display: flex;
}
.main-page-container{
  width: 100%;
}
.menu-list{
    margin-left:50px !important;
}
.setting-icon{
    font-size:20px;
}
.tooltip-inner {
    background-color: #CD0E16 !important;
    color: #fff;
    font-weight:500;
}
.active-class{
    border-bottom:3px solid #CD0E16;
}
.nav-link {
    margin: 0 10px;
    padding: 5px 16px !important;
}
.nav-link:hover{
    background-color:#CD0E16;
    color:white !important;
}

.error {
    color: red;
}
.border-line {
    border: 1px solid red;
}
.header-blood-request{
    border:none !important;
    color:white !important;
    font-weight:500 !important;
}
.header-blood-request:hover{
    border:none;
    color:white;
}
/*admin setting box style start*/
.admin-settings-box{
    width:150px;
    background-color:white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position:absolute;
    right:0;
    top:65px;
    /*bottom:100px;*/
    z-index:10;
    display:none;
}
.admin-settings-box h5{
    text-align:center !important;
}
/*admin setting box style end*/
@media only screen and (max-width:768px) {
    .side-nav-section{
        width:70px;
    }
    .push-arrow{
        display:block;
    }
    .cancel-icon-container{
        display:none;
    }
    .image-container{
        display:none;
    }
    .nav-list{
        display:none;
    }
}
/* side navbar end */

/*logout style start*/
.logout-container{
    background-color:white;
    padding:30px 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.prifile-img{
    width:130px;
    height:130px;
    margin:30px auto;
}
.prifile-img img{
    border-radius:50%;
}
.logout-row{
    display:flex;
    justify-content:center;
    margin:0;
}
.logout-btn-container{
    display:flex;
    justify-content:center;
}
.logout-container p {
    text-align: center;
    font-weight: 500;
}
.logout-container h2{
    text-align:center;
    color:#CD0E16;
    margin-bottom:20px;
}
.no-btn, .yes-btn {
    padding: 8px 10px;
    color: white;
    border: none;
    font-weight: 500;
    margin: 0 10px;
    padding: 5px 30px;
}
.no-btn:hover, .yes-btn:hover{
    color:white;
}
.no-btn {
   /* background-color: #fccfd2 !important;*/
    border:1px solid red !important;
    background-color:white !important;
    color:#CD0E16;
}
.no-btn:hover{
    background-color:#fde7e8 !important;
    color:#CD0E16;
}
.yes-btn{
    background-color:#CD0E16 !important;
}
.bi-box-arrow-in-right{
    font-weight:bold;
    font-size:20px;
}
/*logout style end*/