
@{
    ViewData["Title"] = "Request";
}
<head>
    <link rel="stylesheet" href="~/css/bloodrequest.css"/>
    <script src="~/js/request.js"></script>
</head>
<body>
        <section class="admin-section">
            <div class="raised-request bottom-line">Raised Request</div>
            <div class="approver-request">Approved Request</div>
            <div class="pending-request">Pending Request</div>
        </section>
        <section class="raised-content">
            Raised Request
        </section>
        <section class="approver-content">
            Approved Request
        </section>
        <section class="pending-content">
            Pending Request
        </section> 
</body>

