@*
@{
    ViewData["Title"] = "New ";
}*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<title>@ViewData["Title"] - KurudhiPortal</title>*@
    <link rel="icon" type="image/x-icon" href="~/images/NTK_KURUDHI_Logo.jpg">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/newbloodrequest.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KurudhiPortal.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/newbloodrequest.js"></script>
</head>
<body>
    <section>
        <div class="form-header">
            <div>
                 <button class="btn back-btn"><i class="bi bi-arrow-left back-navigation"></i> Back</button>
            </div>
            <div class="heading-text">
                <h2 class="heading-blood-request">New Blood Request</h2>
            </div>
        </div>
        <div class="container-fluid">
                <form id="request-form">
            <div class="form-group row request-input-container">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="patientname" id="patientname" placeholder="Patient Name" tabindex="1">
                      <label for="name">Patient Name</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" name="admissionid" id="admissionid" placeholder="Admission Id" tabindex="2">
                      <label for="admissionid">Admission Id</label>
                    </div>
                </div>                  
            </div> 
            <div class="form-group row request-input-container">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" name="age" id="age" placeholder="age" tabindex="3">
                      <label for="age">Age</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                      <div class="form-floating">
                          <select class="form-select" name="gender"  id="gender" aria-label="Floating label select example" tabindex="4">
                           <option value="">Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Ohers">Ohers</option>
                          </select>
                          <label for="gender">Gender</label>
                        </div>
                </div>                  
            </div> 
            <div class="form-group row request-input-container">
                <div class="col-12 col-sm-12 col-md-6 mb-3" >
                    <div class="radio-container">
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="radio1" name="bloodtype" value="Blood" placeholder="blood" tabindex="5">
                          <label class="form-check-label" for="radio1">Blood</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="radio2" name="bloodtype" placeholder="Plasma" value="Plasma" tabindex="6">
                          <label class="form-check-label" for="radio2">Plasma</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" id="radio3" name="bloodtype" value="Platelet" placeholder="Platelet" tabindex="7">
                          <label class="form-check-label" for="radio3">Platelet</label>
                        </div>
                        <label class="radio-label">Blood Type</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                       <div class="form-floating">
                          <select class="form-select" name="bloodgroup" id="bloodgroup" aria-label="Floating label select example" tabindex="8">
                            <option value="">Blood Group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="b+">b+</option>
                        <option value="b-">b-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                          </select>
                          <label for="bloodgroup">Blood Group</label>
                        </div>
                </div>
                                    
            </div> 
            <div class="form-group row request-input-container">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" id="bdunit" name="bloodunit" placeholder="blood unit" tabindex="9">
                      <label for="bdunit">Blood Unit</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                      <div class="form-floating">
                          <select class="form-select" name="medicalstatus" id="medicalstatus" aria-label="Floating label select example" tabindex="10">
                            <option value="">Medical Status</option>
                        <option value="Normal">Normal</option>
                        <option value="Medium">Medium</option>
                        <option value="Emergency">Emergency</option>
                          </select>
                          <label for="medicalstatus">Medical Status</label>
                        </div>
                </div>                   
            </div> 
            <div class="form-group row request-input-container">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="date" class="form-control" name="duedate" id="duedate" placeholder="due date" tabindex="11">
                      <label for="floatingInput">Due Date</label>
                    </div>
                </div> 
                <div class="col col-md-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="attendername" id="attendername" placeholder="attender name" tabindex="12">
                      <label for="atname">Attender Name</label>
                    </div>
                </div>                    
            </div> 
            <div class="form-group row request-input-container">
                <div class="col-12 col-sm-12 col-md-6 div-container">
                    <div class="form-floating mb-3">
                      <input type="number" class="form-control" name="attendercontact" id="attendercontact" placeholder="Attender Contact" tabindex="13">
                      <label for="contact">Attender Contact</label>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="hospitalname" id="hospitalname" placeholder="hospital name" tabindex="14">
                      <label for="hospitalname">HospitalName</label>
                    </div>
                </div>                  
            </div> 
            <div class="form-group row request-input-container">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="hospitaladdress" id="hospitaladdress" placeholder="hospital address" tabindex="15">
                      <label for="hosaddress">Hospital Address</label>
                    </div>
                </div> 
                <div class="col col-md-6">
                      <div class="form-floating">
                          <select class="form-select" name="country" id="country" aria-label="Floating label select example" tabindex="16">
                              <option value="">Country</option>
                              <option value="India">India</option>
                          </select>
                          <label for="country">Country</label>
                        </div>
                </div>                   
            </div>
            <div class="form-group row request-input-container">
                <div class="col-12 col-md-6 col-sm-12 mb-3">
                          <div class="form-floating">
                          <select class="form-select" name="state" id="state" aria-label="Floating label select example" tabindex="17">
                              <option value="">Select State</option>
                            <option value="TamilNadu">Tamil Nadu</option>
                            <option value="Kerla">Kerla</option>
                            <option value="Delhi">Delhi</option>
                            <option value="AndraPradesh">Andra Pradesh</option>
                          </select>
                          <label for="state">State</label>
                        </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                      <div class="form-floating">
                          <select class="form-select" name="district" id="district" aria-label="Floating label select example" tabindex="18">
                                <option value="">District</option>
                                <option value="Ariyalur">Ariyalur</option>
                                <option value="Chengalpattu">Chengalpattu</option>
                                <option value="Chennai">Chennai</option>
                                <option value="Coimbatore">Coimbatore</option>
                                <option value="Cuddalore">Cuddalore</option>
                                <option value="Dharmapuri">Dharmapuri</option>
                                <option value="Dindigul">Dindigul</option>
                                <option value="Erode">Erode</option>
                                <option value="Kallakurichi">Kallakurichi</option>
                                <option value="Kancheepuram">Kancheepuram</option>
                                <option value="Karur">Karur</option>
                                <option value="Krishnagiri">Krishnagiri</option>
                                <option value="Madurai">Madurai</option>
                          </select>
                          <label for="district">District</label>
                        </div>
                </div>
            </div>
            <div class="form-group row mb-5" id="12">
                <div class="col-12 col-sm-12 col-md-6">
                    <div class="form-floating">
                          <select class="form-select" name="location" id="location" aria-label="Floating label select example" tabindex="19">
                                <option value="">Select Location</option>
                                <option value="Thuraipakkam">Thuraipakkam</option>
                                <option value="Ecr">Ecr</option>
                                <option value="Tnagar">Tnagar</option>
                                <option value="Adyar">Adyar</option>
                          </select>
                          <label for="location">Location</label>
                    </div>
                </div> 
            </div>
            <div class="request-btn">
                <button type="submit" class="btn request-btn" tabindex="20">Confirm Request</button>
            </div>
        </form>
        </div>
    </section>
</body>

